* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 80vh;
}

.container-app {
  background-color: #16181c;
  border-radius: 20px;
  width: 350px;
  padding-bottom: 15px;
}

.container-app-text {
  margin: 10px 0px;
  padding: 10px 20px 0px;
  font-size: 20px;
  color: white;
}

.twitter-card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}